Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
config.nice
configure
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
releases
stamp-h
stamp-h1
stamp-h.in
*~
*.swp
*.o
.deps/
.libs/
*.l[ao]
*.exe
*.so
axis2_http_server
tcpmon
wsclient
INSTALL
COPYING
*.la
*.lo
*.libs
.project
configure.in
src/build
src/.deps
src/Makefile.fragments
src/Makefile.global
src/Makefile.objects
out/
target/
